<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Container wrapper -->
	<div class="container-fluid">
		<!-- Toggle button -->
		<button
		class="navbar-toggler"
		type="button"
		data-mdb-toggle="collapse"
		data-mdb-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation">
		<i class="fas fa-bars"></i>
	</button>

	<!-- Collapsible wrapper -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!-- Navbar brand -->
		<a class="navbar-brand mt-2 mt-lg-0" routerLink="/">
			<img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
			height="15" alt="MDB Logo" loading="lazy"/>
		</a>
		<!-- Left links -->
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" routerLink="/">Home</a>
			</li>
			<li *ngIf="user" class="nav-item">
				<a  class="nav-link" routerLink="/tools/list">Tools</a>
			</li>
			<li *ngIf="user" class="nav-item">
				<a  class="nav-link" href="#">Code</a>
			</li>
			<li *ngIf="user" class="nav-item">
				<a  class="nav-link" href="#">Casuistic</a>
			</li>
			<li *ngIf="user" class="nav-item">
				<a  class="nav-link" href="#">Properties</a>
			</li>
			<li *ngIf="user" class="nav-item">
				<a  class="nav-link" href="#">Bugs</a>
			</li>
			<li *ngIf="user" class="nav-item">
				<a  class="nav-link" href="#">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="auth/login">Login</a>
			</li>
			
		</ul>
		<!-- Left links -->
	</div>
	<!-- Collapsible wrapper -->

	<!-- Right elements -->
	
	<div class="d-flex align-items-center">
		<!-- Icon -->
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li *ngIf="user" class="nav-item">
					<a href="#" class="nav-link">{{ user.name }}</a>
			</li>
			<li *ngIf="user" class="nav-item">
					<a class="nav-link" href="#" onclick="return false" (click)="logout()">Salir</a>
			</li>
		</ul>

	</div>
<!-- Right elements -->
</div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->